html {
  font-size: 30px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: 'Srisakdi', cursive; /* this should be the rest of the output you got from Google fonts */
  background-color: #56F0F0;
}
h1 {
  font-size: 30px;
  text-align: center;
  margin: 0;
  padding: 20px 0;    
  color: #ED2187;
  text-shadow: 6px 6px 2px pink;
}
p, li {
  font-size: 25px;    
  line-height: 2;
  letter-spacing: 1px;
 }
 body {
  width: 800px;
  margin: 0 auto;
  background-color: #B8B8F9;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
  color: #ED2187;
}
img {
  display: block;
  margin: 0 auto;
  width:85%;
}